.img1 {
    position: absolute;
    left: 0;
    top: 0;
}

.img4 {
    position: absolute;
    left: 500px;
    top: 100px;
}

.img2 {
    position: absolute;
    left: 15%;
    top: 1000px;
}

.img3 {
    position: absolute;
    left: 20px;
    top: 600px;
}

.img5 {
    position: absolute;
    left: 200px;
    top: 200px;
}

.img6 {
    position: absolute;
    left: 57%;
    top: 700px;
    width: 400px;
}

@font-face {
    font-family:'VCO';
    src: url('VCR_OSD_MONO_1.001.woff');
}

body{
    font-family:'VCO';
    margin: 0px;
}

.title1 {
    font-size: 180px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    color: white;
    border-radius: 75px;
}

.title1-1 {
    font-size: 180px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 200;
    margin: 0;
    color: white;
    border-radius: 75px;
}

.title2 {
    font-size: 55px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 110%;
    z-index: 2;
    border-radius: 75px;
}

.title3 {
    font-size: 55px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 70%;
    width: 450px;
    padding: 10px;
    border-radius: 75px;
}

.title4 {
    font-size: 180px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 110%;
    color: white;
    border-radius: 75px;
}

.title4-1 {
    font-size: 180px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 133%;
    color: white;
    border-radius: 75px;
}

.round1{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.round{
    position: absolute;
    left: 0;
    top: 110%;
    width: 500px;
    z-index: 1;  
}

.section2{
    margin-top: 114%;
    position: relative;
}

.filterbubble{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterbubble > div{
    background-color: black;
    color: white;
    padding: 15px 75px;
    font-size: 50;
    border-radius: 100px;
}

.paragraph1{
    padding-left: 320px;
}

.paragraph2{
   padding-left: 320px;
}

.David{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Davidleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-family: VCO;
    font-size: 22px;
    margin-left: 40px;
}

.Name{
    text-align: center;
    margin: 10px 0;
}

.at{
    text-align: center;
    font-family: VCO;
    font-size: 15px;
}

.Description{
    margin-top: 25px;
}

.section2 p {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 20px;

}

.S2bubble{
    width: 350px;
    position: absolute;
    left: 0px;
    top: 600px;
    z-index: -1;
}

.hashtag{
    background-color: black;
    color: white;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 20px;
    padding: 10px;
}

.hashtaginner{
    transform: translateX(0);
    animation: move 10s linear infinite;
}

@keyframes move{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.section3{
    display: flex;
    gap: 50px;
    position: relative;
}
.section3 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left div{
    background-color: black;
    color: white;
    padding: 15px 75px;
    font-size: 50;
    border-radius: 100px;
}

.kpop{
    position: absolute;
    left: 400px;
    top: 20px;
}

.bts{
    position: absolute;
    left: 700px;
    top: 20px;
}

.VG{
    position: absolute;
    top: 400px;
    left: 0px;
}

.GTA{
    position: absolute;
    top: 550px;
    left: 100px;
}

.MC{
    position: absolute;
    top: 650px;
    right: 450px;
}
.migration{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.section3 p {
    font-size: 25px;
    line-height: 30px;
}

.left{
    flex: 5;
}

.right {
    flex: 2;
}

.herd{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    top: 0;

}

.algorithm4{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: absolute;
    left: 480px;
    top: 190px;
}

.section4 {
    margin-top: 40px;
    position: relative;
}

.text {
    font-size: 25px;
}

.text2 {
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.blackalgorithm1{
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom{
    position: relative;
    height: 150px;
}

.blackalgorithm2{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.blackalgorithm3 {
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    z-index: -1;
}

.Footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 10px;
    background-color: black;
    color: white;
}